.centered-text {
  text-align: center;
}

.light-grey-background {
  background: rgba(228, 231, 240, 0.8);
}

/* Modals */
.confirm-modal {
  z-index: 3;
}

/* TABLE COMPONENT */
.search-container {
  margin-top: 20px;
  margin-bottom: 5px;
}

.search-input {
  max-width: 340px;
}

.table-wrapper {
  overflow: scroll;
}

.table-head {
  background-color: rgb(200, 200, 200);
}

.table {
  min-width: 850px;
}

.table i {
  margin: 5px;
}

.table-row {
  padding: 0;
  background-color: rgb(240, 240, 240) !important;
}

.table-row:hover {
  cursor: pointer;
}

.table td {
  padding: .5rem !important;
}

/* PDF VIEW */
.pdf-viewer {
  height: calc(100% - .75rem);
}

@media (max-width: 992px) {
  .pdf-viewer {
    height: 700px;
  }
}