.centered-text {
  text-align: center;
}

/* Modals */
.confirm-modal {
  z-index: 3;
}

/* TABLE COMPONENT */
.search-container {
  margin-top: 10px;
  margin-bottom: 20px;
}

.search-input {
  max-width: 340px;
}

.table-wrapper {
  overflow: scroll;
}

.table-head {
  background-color: rgb(200, 200, 200);
}

.table {
  min-width: 800px;
}

.table i {
  margin: 5px;
}

.table-row {
  padding: 0;
  background-color: rgb(240, 240, 240) !important;
}

.table-row:hover {
  cursor: pointer;
}

.table td {
  padding: .5rem !important;
}

/* PDF VIEW */
.pdf-viewer {
  height: 700px;
}